%h1 Edit Creature

= form_for @creature do |f|
  = f.label :name, :class => 'label'
  = f.text_field :name, placeholder: "Creature's name"
  = f.label :description, :class => 'label'
  = f.text_area :description, placeholder: "Description for creature", :rows => 5 
  = f.label :habitat, :class => 'label'
  = f.text_field :habitat, placeholder: "Creature's habitat"
  = f.label :creature_type, :class => 'label'
  = f.select(:creature_type, options_for_select([ "Inflatable", "Fluffy", "Hard" ]))
  = f.label :picture, :class => 'label'
  = f.hidden_field(:picture_cache)
  = f.file_field :picture, :id => 'picture'
  %br
  %br
  %h3 Friends 
  %br
  #friends_list
    - if @creature.friends
      = @creature.friends.join(' ')
  / = f.hidden_field(:friends)
  = hidden_field_tag :creature_friends
  = text_field_tag :friends_input

  %br
  = f.submit 'Update', :id => 'Update', :class => 'btn btn-primary'
  .btn.btn-danger
    %span= link_to 'Destroy', creature_path(@creature), :method => :delete   
  .btn
    %span= link_to 'Cancel', root_path

:javascript
  var creatures = #{@creatures.collect { |i| i.name }}; 
  $(function() {
    initialize_input(creatures, $('#friends_input'), $('#creature_friends'), $('#friends_list'));
  });
  
